attr==0.3.1
bpython==0.22.1
brotli==1.0.9
brotlicffi==1.0.9.2
ConfigParser==5.2.0
cryptography==37.0.4
cx_Oracle==8.3.0
Cython==0.29.30
dl==0.1.0
docutils==0.19
HTMLParser==0.0.2
ipdb==0.13.9
ipython==8.4.0
ipywidgets==7.7.1
jnius==1.1.0
keyring==23.6.0
lockfile==0.12.2
lxml==4.9.1
mock==4.0.3
MySQL-python==1.2.5
numpy==1.23.1
ordereddict==1.1
Pillow==9.2.0
protobuf==4.21.2
psycopg2==2.9.3
pylibmc==1.6.1
pymemcache==3.5.2
pyOpenSSL==22.0.0
python_memcached==1.59
pytz==2022.1
pywatchman==1.4.1
PyYAML==6.0
railroad==0.5.0
simplejson==3.17.6
Sphinx==5.0.2
tblib==1.7.0
toml==0.10.2
tornado==6.2
unicodedata2==14.0.0
xmlrpclib==1.0.1
